<div class="card bg-light mb-3">
  <div class="card-body">
    <p class="card-text">
      <strong><%= exercise.name %> : </strong>
      <%= exercise.sets %> sets of <%= exercise.reps %>
    </p>
  </div>
</div>